/* 1111 */
:root {
  --Primary-Brand: #4d5ae5;
  --primary-title: #2e2f42;
  --primary-text: #434455;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  margin: 0;
  color: var(--primary-text);
}


img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1 {
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-title);
  margin: 0;
}

p {
  color: var(--primary-text);
  margin: 0;
}

a {
  font-family: inherit;
  padding: 0;
  text-decoration: none;
  color: var(--primary-title)
}

button {
  font-family: inherit;
  border: none;
}

address {
  font-style: normal;
}

.section {
  padding: 120px 0;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;

}

.header-container {
  display: flex;
  align-items: center;
  gap: 76px;
  padding: 24px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* end1111 */

/* header */
.header {
  border-bottom: 1px solid #E7E9FC;
}


.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title);


}

.accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--Primary-Brand);
}

.nav-link {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;

}

.nav-list {
  display: flex;
  gap: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-list-item {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  
}

.nav-list-item:hover,
.nav-list-item:focus {
  color: #404bbf;
}


.address-link {
  margin-left: auto;
}

.address-list {
  display: flex;
    gap: 40px;
  justify-content: end;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;



}

.address-list-item {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-list-item:hover,
.address-list-item:focus {
  color: #404bbf;
}

/* header */

/* hero-section */

.hero-section {
  padding: 188px 0;
  background-color: var(--primary-title);
  color: #ffffff;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 48px;

}

.hero-button {
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--Primary-Brand);
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;


}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* hero-section */

/* Our Features */
.features {}

.features-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
}



.features-list {
  display: flex;
  gap: 24px;
}

.features-list-item {
  width: 264px;
}

.features-list-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
}

.features-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

/* End OF */

/* Team */
.team {
  background-color: #f4f4fd;

}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;

}

.team-list-item {
  width: 264px;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
}



.content-team {
  padding: 32px 16px;

}

.team-card-title {

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--primary-title);
  margin-bottom: 8px;

}

.team-card-text {

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;



}

/* End Team */

/* portfolio */
.portfolio {}

.portfolio-title {

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}


.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
  padding: 0;
  list-style: none;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-content {
  padding: 32px 16px;
  border-left: 1px solid #E7E9FC;
  border-bottom: 1px solid #E7E9FC;
  border-right: 1px solid #E7E9FC;
 
}


.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  padding-bottom: 8px;
}

.portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

/* End Portfolio */

















.footer {
  padding: 100px 0;
  background-color: var(--primary-title);

}

.footer-logo-link {
  font-family: Raleway;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;

}

.footer-text {
  width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 16px;
  color: #f4f4fd
}